/*
* Colors
*/

$deep-black: #181C20;
$space-grey: #666;
$dark-grey: #2d2d2d;
$accent-color: #FF2CE1;

/*
* Font family
*/

$default-font: 'Raleway', sans-serif;

/*
* Font size
*/

$default-size: 16px;
