.items-list {
  display: flex;
  overflow-x: scroll;
  padding: 0 0 5px 50px;
  margin-left: -50px;
  margin-right: -50px;
  margin-bottom: 30px;
  scroll-padding: 0 20px;
  scroll-snap-type: x proximity;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
