@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

@import 'init/reset';
@import 'init/variables';
@import 'base/typography';
@import 'base/layout';
@import 'components/buttons';
@import 'components/list';
@import 'components/items-list';

body {
  font-size: $default-size;
  font-family: $default-font;
  background-color: $deep-black;
  > h1, h2, h3, h4, h5, p, a  {
    color: white;
  }
}
